<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<head>
    <meta charset="UTF-8">
    <style>
        body {
            width: 680px;
            height: fit-content;
            background-color: white;
            color: black;
            border: 1px rgba(0, 0, 0, 0.4) solid;
            box-sizing: border-box;
            display: flex;
            padding: 1rem;
            flex-direction: column;
            white-space: pre-line;
            font-size: 0.9rem;
        }


        /*移动设备*/
        @media screen and (max-device-width:680px) {
            body {
                width: 98vw;
            }
        }

        header {
            /* display: flex;
            min-height: 1rem;
            padding-bottom: 0.5rem; */
        }

        body .info {
            display: flex;
            min-height: 1rem;
            padding-bottom: 0.5rem;
            border-bottom: 2px black solid;
            flex-direction: row;
            justify-content: space-between;
        }

        body .info .name {
            background-color: black;
            color: white;
            font-size: 1.2rem;
            height: auto;
            padding: 1rem 5rem 1rem 1rem;
            line-height: 1;
        }

        body .message {
            display: flex;
            min-height: 1rem;
            padding: 0.5rem 0 0.5rem 0;
            border-bottom: 2px black solid;
            flex-direction: column;
        }

        .message .title {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }

        .message .content {
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5rem;
        }

        .message .content .dot{
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 0.2rem;
            background-color: black;

            flex-shrink: 0;
            margin-right: 1rem;
            margin-top: 0.25rem;
        }
        .message .content .text{
            line-height: 1;
        }

        footer {
            background-color: red;
            height: fit-content;
            box-sizing: border-box;
            margin-top: 1rem;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-self: start;
            font-size: 1rem;
            line-height: 1.2;
        }

        footer a {
            color: black;
            text-decoration: none;
        }

    </style>
</head>


<header></header>

<body>

    <div id='body'>

        <div class="info">
            <div class="name">{{language.info.name}}</div>
            <div style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: flex-end;">
                <div v-for='item in language.info.contact'>{{item}}</div>
            </div>
        </div>

        <div class='message'>
            <div class='title'>{{language.evaluation.title}}</div>
            <div class='content' v-for='item in language.evaluation.content'>
                <div class='dot'></div>
                <div class='text'>{{item}}</div>
            </div>
        </div>

        <div class='message'>
            <div class='title'>{{language.experince.title}}</div>
            <div style="margin-bottom: 0.5rem;" v-for='item in language.experince.items'>
                <div style="display: flex;flex-direction: row; justify-content: space-between; font-weight: bold; margin-bottom: 0.5rem;">
                    <div>{{item.company}} | {{item.position}}</div>
                    <div style="margin-right: 0.5rem;">{{item.duration}}</div>
                </div>
                <div class='content' v-for='line of item.content'>
                    <div class='dot'></div>
                    <div class='text'>{{line}}</div>
                </div>
            </div>
        </div>

        <div class='message'>
            <div class='title'>{{language.project.title}}</div>
            <div class='content' v-for='item in language.project.items'>
                <div class='dot'></div>
                <div class='text'>{{item}}</div>
            </div>
        </div>

        <div class='message'>
            <div class='title'>{{language.experties.title}}</div>
            <div class='content' v-for='item in language.experties.items'>
                <div class='dot'></div>
                <div class='text'>{{item}}</div>
            </div>
        </div>

        <div class='message'>
            <div class='title'>{{language.eduaction.title}}</div>
            <div class='content' v-for='item in language.eduaction.items'>
                <div class='dot'></div>
                <div class='text'>{{item}}</div>
            </div>
        </div>
   
    </div>
</body>

<footer>
    <a href='https://caozuowu.github.io/blog/'>blog -- https://caozuowu.github.io/blog/</a>
    <a href="https://github.com/caozuowu">github -- https://github.com/caozuowu</a>
</footer>

<script>

    var body_language = {
        en : {
            info:{
                name:'Zuowu Cao \n Beijing iOS Engineer',
                contact:[
                    'TEL：18920162556',
                    'Email: 376604661@qq.com',
                    'Wechat: caozuowuofwechat'
                ]
            },
            evaluation : {
                title: "Self evaluation",
                content: [
                    '7 years of IOS development engineer, master a variety of programming languages, design patterns and object-oriented programming ideas. Large scale mobile application and game development experience and architecture capability',
                    'Master the commonly used UI, network, data persistence and third-party SDK of IOS, understand the principle of Objective-C runtime, master the development process from App store to online, internal purchase, push and other development processes',
                    'have a good command of computer-based knowledge, have studied complete algorithm theory, and master the use of basic data structure',
                    'Master relevant knowledge of cocos2d-x game engine and OpenGL graphics, project management experience of small team, iteration experience of project version, maintenance and feedback in the later stage of project launch',
                    'Be able to adapt to high-intensity work, have patience and perseverance, have strong crisis handling ability, strong communication ability, work attitude hard and conscientious, can quickly integrate into the new environment'
                ]
            },
            experince: {
                title: "Work experience",
                items:[
                    {
                        company:'Sina Weibo',
                        duration:"2018.12 - now ",
                        position:"iOS Engineer",
                        content: [
                            'Weibo iOS client development, online, maintenance and other work',
                            'Summarize business technology of the Department and participate in technical discussion and technical upgrading activities',
                            'Participate in the formulation of technical specifications and development process',
                            'Develop relevant wechat and weibo micro-program',
                            'Responsible for the development of weibo micro-program API and UI components'
                        ]
                    },                   
                    {
                        company:'Huai(Beijing) Technology Co., Ltd',
                        duration:"2017.3 - 2018.1",
                        position:"Client Plantform Engineer",
                        content: [
                        'develop technical proposal, write engineering code, code review',
                        'some functional module architecture and technology sharing',
                        'participate in project initiation discussion and technical analysis',
                        'develop some tools and software for internal use of the company',
                        'make project development progress and schedule and follow up feedback'
                        ]
                    },
                    {
                        company:'Beijing aileyou Culture Development Co., Ltd',
                        duration:"2014.10 - 2016.12",
                        position:"iOS Engineer",
                        content: [
                            'design game functions and develop development schedule according to requirements, plan function development tasks, assign and accept',
                            'technical communication with the demander and partners, integration of partners SDK and development of relevant functions',
                            'manage the migration and development of overseas version of the game, track and report the progress of the project, participate in code writing and review the code',
                            "International performance development, overseas language adaptation and resource adaptation, functional development of actual regional operation demand",
                            "Submit the final client version and pack it to go online, sort out the online feedback problems, conduct technical analysis and modify it ",
                            'write technical documents and develop some tools and software for internal use of the company',
                            'complete the preparation of project development documents and report the development progress'
                        ]
                    },
                    {
                        company:'Tianjin Chengtong Communication Development Co., Ltd',
                        duration:"2010.12 - 2012.12",
                        position:"software engineer",
                        content: [
                        'understand the working environment and company business during the internship',
                        'develop the company\'s communication engineering budget software',
                        'develop some functions of company publicity page'
                        ]
                    }
                ]
            },
            project:{
                title: 'Project',
                items: [
                    "Weibo client: development of value-added services (Payment Finance, points mall, small game) in Weibo client",
                    "Weibo and wechat micro-progrom: microblog related social and financial function applets and Weibo wandering application applets development on wechat platform",
                    "Yizhibo live broadcast: a live broadcast platform under Weibo, mainly engaged in business UI development as project support",
                    "Huai - Hu Lai three kindom: Huai online strategic mobile games, Android and IOS development, responsible for the role part, including relevant data model development, network access and local storage and interface development",
                    "thunder fighter (domestic & Overseas): a mobile game produced by airgame in 2014 is represented by Tencent in China and several companies overseas. Served as the domestic version battle and internal purchase development, and the overseas version was responsible for managing the overseas migration team to carry out localization program migration development for each country"
                ]
            },
            experties:{
                title: 'Ability',
                items: [
                    "Programming: C, OC, python, JavaScript, XML, JSON, CSS, C + +",
                    "IOS: common SDK, UI, thread, HTTP, animation, I / O, internal purchase, App Store listing process, basic architecture of IOS and mobile application, wechat micro-program development on mobile side",
                    "Games & Images: cocos2d, OpenGL",
                    "Foundation: common algorithms & data structure, algorithm analysis, common software design pattern, agent, notification, OOP",
                ]
            },
            eduaction: {
                title: 'Education',
                items: [
                    '2006.10-2010.7 undergraduate communication engineering of Yangtze University 𞓜 fundamentals of computer programming, C language programming, C + + programming, communication principles, Advanced Mathematics A, linear algebra',
                    '2003.10-2006.7 senior high school, No.1 middle school, Yangcun, Wuqing District, Tianjin city'
                ]
            }
        },
        cn : {
            info:{
                name:'曹作武 \n 北京海淀 iOS 工程师',
                contact:[
                    'TEL：18920162556',
                    'Email: 376604661@qq.com',
                    'Wechat: caozuowuofwechat'
                ]
            },
            evaluation : {
                title: "自我评价",
                content: [
                    '7年iOS开发工程师,掌握多种程序设计语言、设计模式以及面向对象程序设计思想。有大型手机应用和游戏开发经验及架构能力',
                    '掌握 iOS 常用UI、网络、数据持久化和第三方SDK，了解 Objective-C 运行时原理，掌握AppStore开发到上线流程以及内购、推送等开发流程',
                    '对计算机基相关知识有较好掌握，学习过完整的算法理论，掌握基本数据结构的使用',
                    '掌握cocos2d-x游戏引擎以及openGL图形学相关知识，拥有小型团队项目管理经验，拥有项目版本迭代经验以及项目上线后期维护和反馈',
                    '能适应高强度工作，有耐心有毅力，有较强的危机处理能力，沟通能力强，工作态度努力认真，能快速融入新的环境'
                ]
            },
            experince: {
                title: "工作经验",
                items:[
                    {
                        company:'新浪微博',
                        duration:"2018.12 - 今 ",
                        position:"iOS 开发工程师",
                        content: [
                            '对微博客户端相关业务进行开发、上线、维护等工作',
                            '对部门业务技术进行总结并参与技术讨论以及技术升级活动',
                            '参与制定技术规范，开发流程',
                            '负责开发相关微信小程序以及微博小程序',
                            '负责开发微博为小程序API和UI组件'
                        ]
                    },
                    {
                        company:'互爱互动',
                        duration:"2017.3 - 2018.1",
                        position:"客户端开发工程师",
                        content: [
                            '制定技术方案，编写工程代码，代码审核',
                            '一些功能模块架构以及技术分享',
                            '参与项目立项讨论与技术分析',
                            '开发一些公司内部使用的工具软件',
                            '制定项目开发进度并做进度表并进行跟踪反馈'
                        ]
                    },
                    {
                        company:'北京爱乐游文化发展有限公司',
                        duration:"2014.10 - 2016.12",
                        position:"iOS 开发工程师",
                        content: [
                            '根据需求设计游戏功能实现技术类型并制定开发进度计划，规划功能开发任务并分配以及验收',
                            '和需求方以及合作方进行技术沟通，整合合作方SDK以及制定第三方平台技术需求并实现',
                            '管理海外版本游戏移植和开发工作，进行项目进度跟踪和汇报，参与代码编写，并对代码进行审核',
                            '国际化性能开发，海外语言适配和资源适配，实际地区运营需求功能开发',
                            '提交最终客户端版本并打包上线，对线上反馈问题进行整理和技术分析并进行修改',
                            '编写技术文档，开发一些公司内部使用的工具软件',
                            '完成项目开发文档的编写，汇报开发工作进展情况'
                        ]
                    },
                    {
                        company:'天津市城通通信发展有限公司',
                        duration:"2010.12 - 2012.12",
                        position:"软件工程师",
                        content: [
                            '实习期间了解工作环境与公司业务',
                            '开发公司通信工程概预算软件',
                            '开发公司宣传页面部分功能'
                        ]
                    }
                ]
            },
            project:{
                title: '项目',
                items: [
                    "微博客户端：微博客户端内增值业务(支付金融、积分商城、小游戏)开发",
                    "微博、微信小程序：微博相关社交、金融功能小程序和微博流浪在微信平台上的应用小程序开发",
                    "一直播：微博旗下直播平台，主要从事业务UI开发作为项目支援",
                    "互爱-胡莱三国：互爱互动线上战略类手机游戏，android和iOS端开发，负责角色部分，包括相关数据模型制定，网络访问和本地存储以及界面开发",
                    "爱乐游-雷霆战机(国内版&海外版)：爱乐游14年出品的飞行射击手机游戏，国内由腾讯代理，海外分别有多家公司代理。在其中担任国内版本战斗以及内购开发，海外版本负责管理海外移植团队对每个国家进行本土化程序移植开发"
                ]
            },
            experties:{
                title: '技能',
                items: [
                    "编程：C, OC, Python, Javascript, Xml, Json, Css, C++",
                    "iOS：常用SDK, UI, 线程, HTTP, 动画, I/O, 内购, AppStore 上架流程, iOS 及移动应用基本架构, 移动端微信小程序开发",
                    "游戏 & 图像：Cocos2d, OpenGL",
                    "基础：常用算法&数据结构,算法分析，常用软件设计模式, 代理,通知,OOP",
  
                ]
            },
            eduaction: {
                title: '教育经历',
                items: [
                    '2006.10-2010.7 本科 长江大学 通信工程 | 计算机编程基础、C语言程序设计、C++程序设计、通信原理、高等数学A、线性代数',
                    '2003.10-2006.7 高中 天津市武清区杨村一中'
                ]
            }
        }
    }

    var body = new Vue({
        el: '#body',
        data: {
            language: body_language.en,
        },
        created(){
            var _this = this;
            window.onload = (e) => {
                var type = e.target.location.search
                console.log(type)
                // this.language = body_language.cn
            }
        },
        methods: {
            language(e) {
               this.data.language = body_language[e]
           }
        }
    })


</script>

</html>






