<header>


  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}

  <div class='title'>
    <a rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div>

  <div class="cut-line"></div>

    
    {%- for category in site.categories -%}
      <div class="category">
        <a href="./{{ category | first}}.html">{{ category | first}}</a>
      </div>
    {%- endfor -%}

    <div style="flex-grow: 1;"></div>
    <div class='menu' onclick="onHeaderMenuBtnClick()">M</div>

</header>
