

@font-face{
  font-family: SimHei;
  src: url("fonts/simhei.ttf");
}

body{

  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  // justify-content: space-between;

  .container {
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .wrapper{
    flex-grow: 1;
    // background: blue;
    height: fit-content;
  }
}

/*屏幕宽度小于680 满屏*/
// @media screen and (min-device-width:680px) {
//   body .container {
//       width: 680px;
//   }
// }

@media screen and (min-width: 320px) and (max-width: 480px){
  // 在这里写小屏幕设备的样式
  body .container {
      width: 100vw;
  }
}
   
@media only screen and (min-width: 321px) and (max-width: 1024px){
  // 这里写宽度大于321px小于1024px的样式(一般是平板电脑)
  body .container {
    width: 100vw;
  }
}
   
@media only screen and (min-width: 1029px){
  // 这里写pc客户端的样式
  body .container{
    width: 760px;
  }
}

header{
  min-height: 36px;
  height: fit-content;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;

  padding: 10px 10px 10px 10px;
  align-items: center;

  box-shadow:0 0px 10px #000;
  margin: 0 0 20px 0;

  .title {
    font-size: 22px;
    margin: 0 0px 0 0px;
    padding: 0 30px 0 30px;
  }

  .cut-line {
    width: 1px;
    // height: 18px;
    background-color: lightblue;
    margin: 0 5px 0 5px;
  }

  .category {
    padding: 0 5px 0 5px;
    a {
      color: lightgreen;
      font-size: 18px;
    }
  }

  a {
    color: white;
    font-size: 22px;
  }
}

footer{
  min-height: 36px;
  height: fit-content;
  background-color: red;
  flex-direction: row;

  padding: 10px 50px 10px 50px;
  align-items: center;

  box-shadow:0 0px 10px red;
  margin: 20px 0 0 0;

}