
body{

  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  // justify-content: space-between;

  .container {
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .wrapper{
    flex-grow: 1;
    // background: blue;
    height: fit-content;
  }
}

/*屏幕宽度小于680 满屏*/
@media screen and (min-device-width:680px) {
  body .container {
      width: 680px;
  }
}

header{
  min-height: 36px;
  height: fit-content;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;

  padding: 10px 50px 10px 50px;
  align-items: center;

  box-shadow:0 0px 10px #000;
  margin: 0 0 20px 0;

  a {
    color: white;
    font-size: 22px;
  }
}

footer{
  min-height: 36px;
  height: fit-content;
  background-color: red;
  flex-direction: row;

  padding: 10px 50px 10px 50px;
  align-items: center;

  box-shadow:0 0px 10px red;
  margin: 20px 0 0 0;

}