

.home {
    // background-color: darkgreen;
    height: fit-content;
    min-height: 900px;
    display: flex;
    flex-direction: row;
    position: relative;

    main {
        flex-grow: 1;
        height: auto;

        // border-left: 1px solid black;
        box-shadow:2px -2px 10px #000;
        padding: 20px;

        iframe{
            width: 100%;
            overflow-x: auto;
            border: 0;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }
    }

    .right-side {
        width: 180px;
        height: fit-content;
        // border: 1px solid black;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        box-shadow:2px -2px 10px #000;
    }

    .menu {
        width: auto;
        min-height: 200px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 10px;        
    }


}




@media screen and (min-width: 320px) and (max-width: 480px){
    // 在这里写小屏幕设备的样式
    .home .right-side {
        display: none;
        position: absolute;
        right: 0;
        background-color: rgba($color: #E6E6FA, $alpha: 0.5);
    }
}
     
  @media only screen and (min-width: 321px) and (max-width: 1024px){
    // 这里写宽度大于321px小于1024px的样式(一般是平板电脑)
    .home .right-side {
        display: none;
        position: absolute;
        right: 0;
        background-color: rgba($color: #E6E6FA, $alpha: 0.5);
    }
}
     
  @media only screen and (min-width: 1029px){
    // 这里写pc客户端的样式
 
  }

