
.post-title{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 33px;
    font-family: 'SimHei';
}

.post-body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-x: scroll;

    min-height: 100vh;
    color: rgb(23, 8, 65);
    
    .highlight {
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        // opacity: 0.8;
        overflow-x: scroll;
        // border-radius: 0.5rem;
    }
    .highlight::-webkit-scrollbar{
        display: none;
    }

    pre { 
        color: rgb(4, 49, 4); 
        font-size: 1rem; 
    }

    .kd  { color: darkblue; }
    .nx  { color: darkslategrey; }
    .k   { color: darkcyan; }
    .c1  { color: green; }
}