//ddd
.content {
    // padding: 30px;
    padding: 10px 30px 10px 30px;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'SimHei';

    .title-line{
        width: 100%;
        height: fit-content;
        margin: 0px 0 20px 0;
        color: white;

        h1, h2 {
            color: darkgoldenrod;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 10px 0 10px 0;
        font-size: 32x;
        line-height: 32px;
    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }
}