
@font-face {
    font-family: SimHei;
    src: url(fonts/simhei.ttf)
}

.note-wrapper {
    background-color: lightgoldenrodyellow;
    width: 100%;
    // height: fit-content;
    flex-grow: 1;
    height: 90%;
    padding: 10px;

    display: flex;
    flex-direction: row;
}

.note-sidebar{
    width: 200px;
    height: auto;
    overflow-x: hidden; 
    overflow-y: auto;
    border: 2px solid darkcyan;
    padding: 5px;

    display: flex;
    flex-direction: column;
}

.note-sidebar a {
    // font: bold;
    font-family: 'SimHei';
    font-size: 16px;
    line-height: 16px;
    color: darkred;
    padding: 3px;
}


.note-iframe {
    height: auto;
    width: 10px;
    flex-grow: 1;
    overflow: scroll;
    border: 2px solid darkcyan;
    padding:5px;
    margin-left: 10px;
}