
.note-wrapper {
    // background-color: lightgoldenrodyellow;
    // background-color: rgb(253, 229, 128);
    background-color: white;
    width: 100%;
    // height: fit-content;
    flex-grow: 1;
    height: 90%;
    padding: 10px;

    display: flex;
    flex-direction: row;
}

.note-sidebar{
    min-width: 160px;
    height: auto;
    overflow-x: hidden; 
    overflow-y: auto;
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
}

.note-sidebar a {
    font-family: 'SimHei';
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
}


.note-iframe {
    height: auto;
    width: 10px;
    flex-grow: 1;
    overflow: scroll;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}