---
layout: default
pindex: 0
---

<script>

  function iFrameHeight(height) {
    var iframe = document.getElementById('postIframe');
    iframe.height = height; 
  }

  function onMenuItemClick(url){
    var iframe = document.getElementById('postIframe');
    iframe.height = 0;
    iframe.setAttribute("src", url);
  }

</script>

<div class='home'>

  <main>

    {{content}}
    <iframe src='{{site.categories[page.post-category][1].url | relative_url}}' id='postIframe' name="iFramePost" width='100%' scrolling='no'></iframe>

  </main>

  <div class='right-side'>

    <div class='menu'>
      {%- for post in site.categories[page.post-category] -%}
        <a href="#" onclick="onMenuItemClick('{{post.url | relative_url}}')">{{post.linkname}}</a>
      {%- endfor -%}
    </div>

  </div>

</div>