---

---
<!DOCTYPE html>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full"></script>
<html>

    {%- include head.html -%}

    <body>
        <!-- {%- include header.html -%} -->
        <div class="note-wrapper">
            <div class="note-sidebar">
                {% for post in site.categories[page.menu] %}
                    <a href="{{ post.url | relative_url }}" target="iframe">{{ post.title }}</a>
                {% endfor %}
            </div>
            <iframe class="note-iframe" name='iframe' src="{{site.categories[page.menu][0].url | relative_url}}"></iframe>
        </div>
    </body>

    <!-- {% for post in site.categories[page.menu] %}
        <a  href='{{post.url | relative_url}}'>{{ post.title }}</a>
        <p>{{ post.url}}</p>
    {% endfor%} -->
</html>