---

---
<!DOCTYPE html>
<html>
    <script>
        console.log("123");
    </script>
    {%- include head.html -%}
    <body class="note-body">
        <div class="note-sidebar">
            {% for post in site.categories[page.menu] %}
                <a href="{{ post.url | relative_url }}" target="iframe">{{ post.title }}</a>
            {% endfor %}
        </div>
        <iframe class="note-iframe" name='iframe' src="{{site.categories[page.menu][0].url | relative_url}}"></iframe>
    </body>

    <!-- {% for post in site.categories[page.menu] %}
        <a  href='{{post.url | relative_url}}'>{{ post.title }}</a>
        <p>{{ post.url}}</p>
    {% endfor%} -->
</html>